*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
__pycache__


*.7z
*.dmg
*.gz
*.iso
*.rar
#*.tar
*.zip

*.log
*.sqlite
.DS_Store
ehthumbs.db
Icon
Thumbs.db
.tmtags
.idea
.env
tags
vendor.tags
tmtagsHistory
*.sublime-project
*.sublime-workspace
.bundle